* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(8, 14, 41);
    }
    h1{
        color: aliceblue;
        position: relative;
    }
    h1::before{
        content: "";
        position: absolute;
        top: -7px;
        left: 50%;
        width: 15vw;
        border-top: 4px solid rgb(35, 136, 184);
        transform: translate(-50%);
    }
    h1::after{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 15vw;
        border-top: 4px solid rgb(35, 136, 184);
        transform: translate(-50%);
    }